<div>
  <div id="map">
    <mgl-map
      [style]="'mapbox://styles/mapbox/streets-v9'"
      [zoom]="[9]"
      [center]="[(userLocation$ | async).lat, (userLocation$ | async).lon]"
      *ngIf="(userLocation$ | async).lat"
    >
      <mgl-marker
        *ngFor="let scooter of scooters$ | async"
        [lngLat]="[scooter.coordinate.lon, scooter.coordinate.lat]"
      >
        <div class="marker">
          <img [src]="getScooterLogo(scooter)" class="scooter-icon" />
        </div>
      </mgl-marker>

      <app-user-marker></app-user-marker>
    </mgl-map>
  </div>
</div>
